.body {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #59237E; 
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
}

.container{
    margin: 0;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{
    margin: 0;
    background-color: black;
    width: 60%;
}

.imagen {
    background-color: aqua;
    width: 40%;
}